doctype html
html
  head
    title Dancing Website
    block scripts
    block style
      
body
    nav#navbar
        ul 
            div#logo 
                img(src="logo.png", alt="Logo")
                | CDA
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Classes]
            li #[a(href="/") Contact]
    block content
    footer#footer | Copyright @ 2019 ChetuDanceAcademy.com | All rights reserved
     